body {
    background-color: whitesmoke;
}

.box {
    width: auto;
    border: 1px solid black;
    padding: 150px;
    margin: 30px;
    display: flex;
    flex-grow: 100;
  }

  div {
      float: inline-start;
  }