    body {
        background-color: whitesmoke;
        font-size: 12px;
    }
    
    .eventName {
        font-weight: bolder;
        font-size: larger;
    }
    
    .eventAddr {
        font-size: smaller;
    }
    
    .weatherImage {
        height: 40px;
    }
    
    .weatherCell {
        /* margin-top: 25px; */
        /* vertical-align: bottom; */
        font-size: 12px;
        /* float: right; */
        /* float: right; */
    }
    
    .venueName,
    .eventDate {
        font-weight: bold;
    }
    
    .eventDate {
        /* float: left; */
    }
    
    .box {
        width: auto;
        border: 1px solid black;
        padding: 150px;
        margin: 30px;
        display: flex;
        flex-grow: 100;
    }
    
    div {
        float: inline-start;
    }
    
    #weatherTemp {
        margin: auto;
        width: 50%;
        padding: 10px;
        font-size: 25px;
    }
    
    #weatherCond {
        margin: auto;
        width: 50%;
        padding: 10px;
        font-size: 25px;
    }
    
    #buyElement {
        padding: 30px;
        margin: 50px;
    }