    body {
        background-color: whitesmoke;
        font-size: 12px;
    }
    
    .bio {
        font-size: smaller;
        padding-top: 10px
    }
    
    .eventName {
        font-weight: bolder;
        font-size: larger;
    }
    
    .eventAddr {
        font-size: smaller;
    }
    
    .weatherImage {
        height: 40px;
    }
    
    .weatherCell {
        font-size: 12px;
        margin: 0px;
    }
    
    .venueName,
    .eventDate {
        font-weight: bold;
        vertical-align: bottom;
    }
    
    .detailGrid {
        border: none;
        margin: 0px;
        padding: 0px;
    }
    
    .box {
        width: auto;
        border: 1px solid black;
        padding: 150px;
        margin: 30px;
        display: flex;
        flex-grow: 100;
    }
    /* div {
        float: inline-start;
    } */
    
    #weatherTemp {
        margin: auto;
        width: 50%;
        padding: 10px;
        font-size: 25px;
    }
    
    #weatherCond {
        margin: auto;
        width: 50%;
        padding: 10px;
        font-size: 25px;
    }
    
    .buyBtn {
        padding: 22px;
    }